
@{
    ViewBag.Title = "Gallery";
}
<main class="main-content">

    <div class="fullwidth-block content">
        <div class="container">
            <h2 class="entry-title">Natus error sit voluptatem accusantium doloremque laudantium totam rem aperiam eaque ipsa quae ab illo inventore veritatis et quasi architecto</h2>
            <div class="text-center">
                <div class="filter-links filterable-nav">
                    <select class="mobile-filter">
                        <option value="*">Все</option>
                        <option value=".cars">Машины</option>
                        <option value=".interior">Интерьер</option>
                        <option value=".race">Гонки</option>
                        <option value=".other">Другое</option>
                    </select>
                    <a href="#" class="current wow fadeInRight" data-filter="*">Show all</a>
                    <a href="#" class="wow fadeInRight" data-wow-delay=".2s" data-filter=".cars">Машины</a>
                    <a href="#" class="wow fadeInRight" data-wow-delay=".4s" data-filter=".interior">Интерьер</a>
                    <a href="#" class="wow fadeInRight" data-wow-delay=".6s" data-filter=".race">Гонки</a>
                    <a href="#" class="wow fadeInRight" data-wow-delay=".8s" data-filter=".other">Другое</a>
                </div>
            </div>
            <div class="filterable-items">
                <div class="gallery-item filterable-item interior">
                    <a href="~/Content/dummy/gallery-1.jpg">
                        <figure class="featured-image">
                            <img src="~/Content/dummy/gallery-1.jpg" alt="">
                            <figcaption>Lorem ipsum dolor sit amet</figcaption>
                        </figure>
                    </a>
                </div>
                <div class="gallery-item filterable-item other">
                    <a href="~/Content/dummy/gallery-2.jpg">
                        <figure class="featured-image">
                            <img src="~/Content/dummy/gallery-2.jpg" alt="">
                            <figcaption>Consectetur adipisicing elit</figcaption>
                        </figure>
                    </a>
                </div>
                <div class="gallery-item filterable-item cars">
                    <a href="~/Content/dummy/gallery-3.jpg">
                        <figure class="featured-image">
                            <img src="~/Content/dummy/gallery-3.jpg" alt="">
                            <figcaption>Repellat fugit tenetur </figcaption>
                        </figure>
                    </a>
                </div>
                <div class="gallery-item filterable-item race">
                    <a href="~/Content/dummy/gallery-4.jpg">
                        <figure class="featured-image">
                            <img src="~/Content/dummy/gallery-4.jpg" alt="">
                            <figcaption>Asperiores quas voluptatem</figcaption>
                        </figure>
                    </a>
                </div>
                <div class="gallery-item filterable-item other">
                    <a href="~/Content/dummy/gallery-5.jpg">
                        <figure class="featured-image">
                            <img src="~/Content/dummy/gallery-5.jpg" alt="">
                            <figcaption>Ex quos ab perspiciatis</figcaption>
                        </figure>
                    </a>
                </div>
                <div class="gallery-item filterable-item other">
                    <a href="~/Content/dummy/gallery-6.jpg">
                        <figure class="featured-image">
                            <img src="~/Content/dummy/gallery-6.jpg" alt="">
                            <figcaption>Natus dolores ad et ipsam</figcaption>
                        </figure>
                    </a>
                </div>
                <div class="gallery-item filterable-item interior">
                    <a href="~/Content/dummy/gallery-7.jpg">
                        <figure class="featured-image">
                            <img src="~/Content/dummy/gallery-7.jpg" alt="">
                            <figcaption>Hic nisi. Animi placeat</figcaption>
                        </figure>
                    </a>
                </div>
                <div class="gallery-item filterable-item race">
                    <a href="~/Content/dummy/gallery-8.jpg">
                        <figure class="featured-image">
                            <img src="~/Content/dummy/gallery-8.jpg" alt="">
                            <figcaption>Obcaecati quam exercitationem</figcaption>
                        </figure>
                    </a>
                </div>
                <div class="gallery-item filterable-item race">
                    <a href="~/Content/dummy/gallery-9.jpg">
                        <figure class="featured-image">
                            <img src="~/Content/dummy/gallery-9.jpg" alt="">
                            <figcaption>quam exercitationem</figcaption>
                        </figure>
                    </a>
                </div>
            </div>
        </div>
    </div>
</main>

