@model string 
@{
    ViewBag.Title = "Отправлено";
}

<main class="main-content">
    <div class="fullwidth-block content">
        <div class="container">
            <h2 class="entry-title">Сообщение отправлено.</h2>
            <p>Спасибо за Ваше обращение, @Model, с Вами обязательно свяжутся в близжащее время.</p>
            </div>
        </div>
</main>

